.text-fill-color {
  -webkit-text-fill-color: transparent;
}

.brand-item {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  /* border: 1px solid #fff; */
  text-align: center;
  line-height: 9.5625rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper {
  /* --swiper-pagination-color: '#fff'; */
}

.swiper-wrapper .swiper-item {
  /* width: 100% !important; */
  /* height: 100%; */
  /* width: 31.25rem !important; */
  height: 21.875rem;
  /* width: 31.25rem !important; */
  /* height: 42rem; */
}

.swiper-wrapper .swiper-item::after {
  content: '';
  display: block;
  /* background-color: #000; */
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 0;
}

.swiper-wrapper .swiper-item .item-content {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  padding-left: 1.625rem;
  padding-bottom: 2.1875rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: local;
}

.item-content .item-title {
  font-family: Source Han Sans CN;
  font-weight: 800;
  font-size: 2.25rem;
  color: #fefefe;
  line-height: 2.5rem;
  margin-bottom: 1.25rem;
}

.item-content .item-desc {
  font-family: Source Han Sans CN;
  font-weight: 400;
  font-size: 1.25rem;
  color: #cacaca;
  height: 3.5rem;
}
