.company-container {
  padding-right: 20.875rem;
  /* height: 41.6875rem; */
  /* height: 49.9375rem; */
}

.company-container .top-content {
  height: 2.4375rem;
}

.top-content .top-img {
  /* width: 53.8125rem; */
  /* height: 35.5625rem; */
  width: 56.25rem; /* 900 */
  height: 31.25rem;
}

.company-container .center-content {
  height: 39.25rem;
}

.company-container .center-content .title-text {
  writing-mode: vertical-rl;
  transform: rotate(0deg);
}

.company-container .center-content .content-text {
  padding-top: 4.375rem;
  /* padding-left: 1.625rem; */
  /* 1010 */
  /* padding-right: 63.125rem; */
  /* 1010 */
  padding-left: 63.125rem;
  padding-right: 1.625rem;
}

.company-container .bottom-content {
  height: 8.25rem;
}

.bottom-content .content-box {
  margin-top: -23.4375rem;
}

.draw-img {
  width: 15.1875rem; /* 243 */
  height: 15.1875rem;
}
