/* 
.border-[10px_solid_transparent] {
  border: 10px solid transparent;
  background-clip: border-box;
  background-image: linear-gradient(to right, red, yellow);
} */

.gradient-border-r {
  border: transparent;
  background-image: linear-gradient(to right, red, yellow);
  background-origin: border-box;
}
